<div class="center hero-unit">
	<div class="row-fluid">
		<div class="span12">
			<h1>Welcome to the Baseball WAR Calculator!</h1>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<h2 class = "main">To compute Batter WAR</h2>
				<%= link_to "Click here!", batter_war_path, 
                                class: "btn btn-large btn-primary" %>
			</div>
			<div class="span6">
				<h2 class = "main">To compute Pitcher WAR</h2>
				<%= link_to "Click here!", pitcher_war_path, 
                                class: "btn btn-large btn-primary" %>
			</div>
		</div>
	</div>
</div>