@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$baseballred: #ED174C;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center{
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* navigation bar */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $baseballred;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #444;
  text-decoration: none;
}

.navbar .nav li a {
  color: $baseballred;
  text-shadow: 0px 1px 0px #888888;
}

.navbar .nav li a:hover{
  color: #444444;
  text-shadow: 0px;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-submenu:hover a {
    text-decoration: none;
    color: white;
    background-color: rgb(230, 230, 230);
    background-image: none;
    background-repeat: repeat-x;
}


/* hamburger button */
.navbar-inverse .btn-navbar{
	background-color: #ffffff;
    background-image: linear-gradient(to bottom, rgb(235,23,23) 0%, rgb(237,23,77) 58%);
	border-color: $white;
	&:hover {
      background-color: $white;
    }
	&:focus {
      background-color: $white;
    }
	&:active {
      background-color: $white;
    }
}


a.btn-navbar:hover span.icon-bar, a.btn-navbar:active span.icon-bar{
	background-color: $baseballred;
}